<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivedreamer.mapper.BuyOrderMapper">

    <select id="getBuyOrderNowByUserID"  resultType="CommonOrder">
      SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
      o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
      u.nickname as username
        FROM (SELECT * FROM group_buy WHERE userid = #{0} AND state = 0 ) o ,user u WHERE o.userid = u.id
    </select>

    <select id="getBuyOrderSuccessByUserID"  resultType="CommonOrder">
        SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_buy WHERE userid = #{0} AND state = 1 ) o ,user u WHERE o.userid = u.id
    </select>

    <select id="getBuyOrderByComments"  resultType="CommonOrder">
      SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_buy WHERE userid = #{0} AND (state = 1 OR state = 0) AND id IN (SELECT  orderid FROM comments
        WHERE formid = #{0} AND TYPE = 3)) o  ,user u WHERE o.userid = u.id
    </select>

</mapper>