<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivedreamer.mapper.CommentsMapper">



    <select id="getCommentVO"  resultType="Comment">
      SELECT m.id as id,m.formid as formid,m.formName as formName,m.formIconUrl as formIconUrl,
        m.toid as toid,u2.nickname as toName, u2.iconUrl as toIconUrl,m.content as content,m.time as time FROM
        (SELECT o.id as id,o.formid as formid,u1.nickname as formName,u1.iconUrl as formIconUrl,
        o.told as toid,o.content as content,o.time as time FROM (SELECT * FROM comments WHERE type = #{0} AND orderid = #{1} ) o ,user u1 WHERE o.formid = u1.id) m LEFT JOIN user u2 ON m.toid = u2.id
         ORDER BY m.time DESC
    </select>

    <insert id="leaveMessage" parameterType="CommentPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (formid,type,orderid,content,time) VALUE (#{formid},#{type},#{orderid},#{content},#{time})
    </insert>

    <insert id="replyMessage" parameterType="CommentPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (formid,type,orderid,content,time,told) VALUE (#{formid},#{type},#{orderid},#{content},#{time},#{toid})
    </insert>

    <delete id="deleteMessage">
        DELETE FROM comments WHERE id = #{0}
    </delete>

    <select id="getDetailComment" resultType="CommentPO">
        SELECT * from comments WHERE id = #{0}
    </select>
</mapper>