<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivedreamer.mapper.ImgMapper">

    <select id="getImgUrl"  resultType="java.lang.String">
       SELECT url FROM img WHERE type = #{0} AND orderid = #{1}
    </select>

    <delete id="deleteImg">
        DELETE FROM img WHERE type = #{0} AND orderid = #{1}
    </delete>

    <insert id="addImg">
        INSERT INTO img (type,orderid,url)
        VALUES (#{0},#{1},#{2,jdbcType=VARCHAR})
    </insert>
</mapper>