<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivedreamer.mapper.MailOrderMapper">

    <select id="getMailOrderNowByUserID"  resultType="CommonOrder">
      SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
      o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
      u.nickname as username
        FROM (SELECT * FROM group_mail WHERE userid = #{0} AND state = 0 ) o ,user u WHERE o.userid = u.id
    </select>

    <select id="getMailOrderSuccessByUserID"  resultType="CommonOrder">
        SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_mail WHERE userid = #{0} AND state = 1 ) o ,user u WHERE o.userid = u.id
    </select>

    <select id="getMailOrderByComments"  resultType="CommonOrder">
      SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_mail WHERE userid = #{0} AND (state = 1 OR state = 0) AND id IN (SELECT  orderid FROM comments
        WHERE formid = #{0} AND TYPE = 2)) o  ,user u WHERE o.userid = u.id
    </select>

    <select id="getMailOrderListByType"  resultType="CommonOrder">
        SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_mail WHERE type = #{0} AND state = 0 ) o ,user u WHERE o.userid = u.id ORDER BY o.time DESC
    </select>

    <select id="getMailOrderDetail"  resultType="CommonOrder">
        SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_mail WHERE id = #{0}  ) o ,user u WHERE o.userid = u.id
    </select>

    <insert id="addMailOrder" parameterType="CommonOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_mail (userid,title,content,location,time,type) VALUE (#{userid},#{title},#{content},#{location},#{time},#{type})
    </insert>


    <select id="getMailRecommendList"  resultType="CommonOrder">
        SELECT o.id as id,o.userid as userid,o.title as title,o.content as content,
        o.location as location,o.time as time, o.type as type,o.messageCount as messageCount,u.iconUrl as usericonurl,
        u.nickname as username
        FROM (SELECT * FROM group_mail WHERE state = 0  ) o ,user u WHERE o.userid = u.id ORDER BY o.time DESC
    </select>

    <update id="modifyMailOrder">
        UPDATE group_mail SET  title = #{1} ,content = #{2}, location = #{3} , type = #{4},time = #{5} WHERE id = #{0}
    </update>

    <update id="successOrder">
        UPDATE group_mail SET  state = 1 WHERE id = #{0}
    </update>

    <update id="deleteOrder">
        UPDATE group_mail SET  state = 2 WHERE id = #{0}
    </update>

    <update id="descMessageCount">
        UPDATE group_mail SET  messageCount = messageCount -1 WHERE id = #{0}
    </update>

    <update id="ascMessageCount">
        UPDATE group_mail SET  messageCount = messageCount +1 WHERE id = #{0}
    </update>


</mapper>